node_modules
.env
development.env
production.env
*.txt
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.next/
.cursor/
node_modules
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next/
yarn-error.log
npm-debug.log
.cursor
*.txt
.env*
